<mat-toolbar color="primary">

    <button mat-button [routerLink] = "['/']">
        <mat-icon>
            home
        </mat-icon>
        Home
    </button>
    
    

    <button mat-button [routerLink] = "['/users']"  *ngIf="authService.currentUser$ | async">
        <mat-icon>
            people
        </mat-icon>
        Пользователи
    </button>

    
    <button mat-button [routerLink] = "['/']" (click)="authService.logout()"
            *ngIf="authService.currentUser$ | async">
        <mat-icon>
            logout
        </mat-icon>
        Выход
    </button>
    
    <button *ngIf="(authService.currentUser$ | async) == null" mat-button [routerLink] = "['/auth']">
        <mat-icon>how_to_reg</mat-icon>
        Войти 
    </button>

    <button *ngIf="(authService.currentUser$ | async) == null" mat-button [routerLink] = "['/sign']">
        <mat-icon>login</mat-icon>
        Регистрация 
    </button>

    
</mat-toolbar>